

div.form-group .control-label, .privacyPolicy {
  letter-spacing: 0.4px !important;
  font-weight: 300 !important;
}

.clickableLink {
  color: #6896D9 !important;
  font-weight: 400 !important;
  letter-spacing: 0.4px !important;
  text-decoration: none;
  letter-spacing: 0.4px !important;
}
.clickableLink:hover {
  color: #00366A !important;
}

button.brandColoredButton {
  letter-spacing: 0.4px !important;
  font-weight: 300 !important;
}
button.brandColoredButton:hover {
  background: #00366A !important;
}

.suggestEmployee {
  display: none;
}

li.shareButton a {
  margin: 0;
  width: 60px;
}

li.shareButton {
  width: initial !important;
}

.socialWidget  > ul {
  color: red !important;
  justify-content: flex-end;
}
  
