.form-container {
  font-family: sans-serif;
  color: #333333;
  font-weight: 200;
  letter-spacing: 0.5px;
  font-size: 16px;
 }

div.form-group .control-label, .col-xs-9 col-sm-9 {
  font-family: sans-serif;
  color: #333333;
  font-weight: 200;
  letter-spacing: 0.5px;
  font-size: 16px;
  width: 170px;
}


div.socialWidget .grid-5 > li {
  width: 70px !important;
}

button.brandColoredButton {
  background: #88A8DA;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
}
