
#jobFormDiv {
  font-family: sans-serif;
  letter-spacing: 0.4px !important;
  font-family: sans-serif;
}

div.form-group .control-label {
  color: #333333;
  font-size: 15.5px;
  width: 170px !important;
  font-family: sans-serif;
  letter-spacing: 0.4px !important;
  font-weight: 200 !important;
}

.clickableLink {
  color: #808080 !important;
  font-weight: 400 !important;
  letter-spacing: 0.4px !important;
  font-size: 15.5px;
  text-decoration: none;
  font-family: sans-serif;
  letter-spacing: 0.4px !important;
}
.clickableLink:hover {
  color: #88A8DA !important;
}

button.brandColoredButton {
  background: #88A8DA !important;
  font-family: sans-serif;
  letter-spacing: 0.4px !important;
  font-weight: 200 !important;
  
}
button.brandColoredButton:hover {
  background: #808080 !important;
}
