@font-face {
    font-family: lato;
    src: url('../fonts/Lato/Lato-Regular.ttf');
  }
@font-face {
    font-family: lato-bold;
    src: url('../fonts/Lato/Lato-Bold.ttf');
  }
@font-face {
    font-family: eurofurence;
    src: url('../fonts/Eurofurence/eurof55.ttf');
  }

/* Base */
* {
    box-sizing: border-box;
}
html {
    font-family: lato, sans-serif;
    color: #626262;
}
body {
    margin: 0;
    font-size: 16px;
    margin-top: 110px;
}
h2 {
    margin-top: 0;
    font-weight: normal;
    font-size: 1.75rem;
}
p {
    margin-bottom: 2px;
    margin: 0;
}
a {
    text-decoration: none;
    transition: color .3s;
}
button {
    outline:0;
    cursor: pointer;
}


/* layout */
.wrapper {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 980px;
}

/* flex */
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.space-even {
    justify-content: space-evenly;
}
.space-around {
    justify-content: space-around;
}
.align-center {
    align-items: center;
}
.flex.wrap {
    flex-wrap: wrap;
}
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.col {
    flex-direction: column;
}
.align-start {
    align-items: flex-start;
}
.justify-center {
    justify-content: center;
}
.mobile-nav-btn {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 30px;
    display: none;
}



/* Header */
.header-wrapper {
    width: 100%;
    background-color: #292929;
    height: 130px;
    position: fixed;
    top: 0;
}
.main-header a{
    color: #ffffff;
}
.main-nav p::first-letter {
    letter-spacing: -0.8px;
}
.nav-item a {
    box-shadow: -1px 0 0 #1d1d1d;
    width: 132px;
    height: 130px;
}
.nav-item a:last-child {
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
}



/* logo */
.logo p {
    font-family: eurofurence;
    font-size: 2.5rem;
}
.logo .dot{
    color: #58c93a;
    /* letter-spacing: -0.8px;   meaningless*/ 
}
.logo p::first-letter {
    letter-spacing: -0.8px;
}


/* Main  container*/
.blog-container {
    padding: 0 20px;
    border: 1px solid #e1e0e0;
    border-block-end: none; 
}
.blog-item {
    margin-top: 60px;
}
.blog-img {
    width: 50%;
    padding-right: 15px; 
    object-fit: cover;
    height: auto;
    /* align-self: self-start; */
    /* this makes the img the original size and not strech it.
    currently it's only for the image, if I wanted to do it also for the text, the item parent 
    should get align-items: flex-start; */
}
.blog-txt {
    width: 50%;
    padding-left: 15px; 
}
.blog-header {
    font-family: lato-bold, sans-serif;
    text-transform: uppercase;
}
.blog-btn {
    font-family: lato-bold, sans-serif;
    border: 2px solid #c2c2c2;
    background-color: #ffffff;
    cursor: pointer;
    color: #c2c1c1;
    height: 40px;
    border-radius: 30px;
    transition: padding .5s, color 0.3s;
    line-height:  5px;
    padding: 0 20px;
}


/* Page navigation */
.page-nav {
    border: 1px solid #e1e0e0;
    border-block-end: none; 
    margin-top: 60px; 
}
.page-nav button {
    height: 75px;
    color: #818181;
    font-family: lato-bold, sans-serif;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-size: 1.125rem;
    background: none;
    border: none;
}


/* Footer */
.footer {
    width: 100%;
    background-color: #f8f8f8;
    height: 315px;
    box-shadow: inset 0 1px 0 #e1e0e0;
    padding: 80px 0;
}
.footer .logo {
    color: #292929;
}
.footer .logo p{
    color: #292929;
    margin: 0;
}
.copy-rights {
    color: #a6a6a6;
    margin-top: 40px;
    margin-bottom: 40px;
}
.copy-rights::first-letter {
    letter-spacing: 0.39px;
}
.copy-rights span{
    color: #939292;
    letter-spacing: 0.39px;
    font-family: lato-bold, sans-serif;
    text-align: center;
}
.social-media button {
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    border: none;
}
.social-media button:not(:last-child) {
    margin-right: 30px;
} 




@media screen and (max-width: 740px) {
    /* Basic */
    .btn:active {
        color: #58c93a;
        outline:0;
    }
    .main-header a:active {
        color: #58c93a;
    }
    .blog-btn:active {
        color: #58c93a;
        border: 2px solid #58c93a;
        padding: 0 30px;
    }
    .blog-btn:active::after {
        content: "\00a0 \00a0→"
    }
    .social-media button:active {
        background-color: #516fad;
    }
    .mobile-nav-btn {
        display: block;
    }
    body {
        margin-top: 50px; 
    }

    .main-nav {
        color: #ffffff;
        display: block;
        position: fixed;
        width: 100%;
        left: 0;
        top: 70px;
        height: 100vh;      
        background-color: #292929bd;
        transform: translate(0, -150%);
        transition: transform 0.8s;
        z-index: -1;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
    }
    .nav-item a{
        border: 1px solid #d4d4d421; 
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
    .header-wrapper {
        height: 70px;
    }
    .main-header {
        align-items: flex-start;
        padding: 15px 20px 0 20px; 
    }
    .blog-container {
        padding: 20px;
    }
    
    .blog-item {
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .blog-img {
        flex-basis: 100%;
        padding: 0;
    }
    .blog-header {
        font-size: 1.5rem;
        margin: 20px 0;
    }
    .blog-txt {
        padding: 0;
        flex-basis: 100%;
        width: auto;
    }
    .blog-btn {
        margin-top: 10px; 
    }
    .page-nav {
        margin-top: 40px; 
    }
    .open.main-nav {
        transform: translate(0,0);
    }
    .open .nav-item a{
        box-shadow: none;
    }

}


/* 740 - 1245 */
@media (min-width: 741px)  {
    .btn:hover {
        color: #58c93a;
        outline:0;
    }
    .main-header a:hover {
        color: #58c93a;
    } 
    .nav-item a:hover {
        box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
    } 
    .social-media button:hover {
        background-color: #516fad;
    } 
    .blog-btn:hover {
        color: #58c93a;
        border: 2px solid #58c93a;
        padding: 0 30px;
    }
    .blog-btn:hover::after {
        content: "\00a0 \00a0→"
    }

    @media (max-width: 1245px)  {
        body, html {
            font-size: 14px;
        }
        .blog-header {
            margin: 20px 0 10px 0;
            font-size: 1.75rem;
        }
    }
}
